.StyleSetting{
  height: 100%;
  overflow: auto;
  .border-setting{
    :global(.border) {
      border-width:0px;
    }
    :global(.skeleton){
      width: 100% !important;
    }
    .active{
      background-color: #e6f4ff;
    }
  }
}

